body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .container  {
    max-width: 800px;
    margin: 50px auto;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .quote-container {
    display: none;
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 12px;
  }

  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    border-radius: 13px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  